.App {
  text-align: center;
}

.App-header {
  align-items: center;
  padding: 20px;
  font-size: large;
  font: 2em sans-serif;
  text-transform: uppercase;
  box-shadow: 3px 2px #353232;
  font-weight: bolder;
}

.Fetch-button {
  padding: 10px;
  margin: 20px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(23, 23, 58, 0.61);
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 2px #0e0909;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}

.loading-class{
  padding-top: 50px;
  font-size: large;
  font-weight: bold;
}